version: "3"
services:
  actor-service:
    image: php-actor-service:${GIT_SHA}
  actor-http:
    image: php-actor-http:${GIT_SHA}
    depends_on:
      - actor-service
    network_mode: service:actor-service
  actor-daprd:
    image: daprio/daprd:${DAPR_VERSION}
    command: [ "./daprd","-app-id","actor","-app-port","80","-placement-host-address","placement:50006","-components-path","/components" ]
    volumes:
      - ./components:/components
    depends_on:
      - actor-http
    network_mode: service:actor-service
  client-service:
    image: ${DOCKER_USER}/php-client-service:${GIT_SHA}
    ports:
      - 8080:80
  client-http:
    image: ${DOCKER_USER}/php-client-http:${GIT_SHA}
    depends_on:
      - client-service
    network_mode: service:client-service
  client-daprd:
    image: daprio/daprd:${DAPR_VERSION}
    command: [ "./daprd","-app-id","client","-app-port","80","-placement-host-address","placement:50006","-components-path","/components" ]
    depends_on:
      - client-http
    network_mode: service:client-service
  redis:
    image: 'redis:alpine'
